
@{
     ViewBag.Title = "Shop";
     Layout = "~/Views/_LayoutPage1.cshtml";
}

<section>
     <div class="products">
          <div class="product">
               <img src="~/assets/img/shop/dieta1.jpg" alt="Product Image">
               <h2>Light diet</h2>
               <p>A simple diet that will help you improve your health.</p>
               <p>$19.99</p>
               <button>Add to Cart</button>
          </div>

          <div class="product">
               <img src="~/assets/img/shop/shop2.jpg" alt="Product Image">
               <h2>Average diet</h2>
               <p>The more advanced diet for those who need to lose more weight.</p>
               <p>$39.99</p>
               <button>Add to Cart</button>
          </div>

          <div class="product">
               <img src="~/assets/img/shop/dieta grea.jpg" alt="Product Image">
               <h2>Heavy diet</h2>
               <p>The hard diet that requires a lot of effort, but also has a faster visible result.</p>
               <p>$59.99</p>
               <button>Add to Cart</button>
          </div>

          <div class="product">
               <img src="~/assets/img/shop/complex.jpg" alt="Product Image">
               <h2>Multi diet</h2>
               <p>It includes several types of diets.</p>
               <p>99.99</p>
               <button>Add to Cart</button>
          </div>

          <!-- Add more product divs as needed -->
     </div>

</section>
